@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}
body {
  background: #7e9278;
  padding-bottom: 6em;
}
section {
  min-height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section:nth-child(odd) {
  color: #eeedd8;
  background: #7e9278;
}
section:nth-child(even) {
  color: #7e9278;
  background: #eeedd8;
}

section .container {
  margin: 100px;
}

section h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* source: https://alvarotrigo.com/blog/css-animations-scroll/ */

h1 {
  font-size: 120px;
  color: #0b2207;
  text-shadow: 3px 4px 4px #eeedd8;
}

h2 {
  font-size: 120px;
  color: #eeedd8;
  margin-top: 2em;
}

h3 {
  padding-top: 20px; padding-bottom: 20px; padding-right: 20px;
  font-size: 50px;
  text-align: center;
}

h4 {
  padding-top: 10px; padding-bottom: 10px;
  font-size: 30px;
}

h5 {
  text-align: center;
  font-size: 20px;
  padding-top: 10px; padding-bottom: 10px;
}


p {
  font-size: 18px;
  padding-top: 10px; padding-bottom: 10px;
}

a:hover {
  opacity: 0.6;
  color: floralwhite;
}

img {
  padding: 10px;
}

.centerhorizontal {
  margin-left: auto; 
  margin-right: auto; 
  display: block;
}

/* G R I D */

.grid {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: stretch;
}

.left {
  width: 100%;
  margin: 0.5em;
  padding: .5em;
  text-align: right;
  justify-content: center;
  align-items: center; 
  padding-left: 3em;
}

.right {
  width: 100%;
  margin: 0.5em;
  padding: .5em;
  text-align: left;
  justify-content: center;
  align-items: center;
  padding-right: 6em;
}
/* source: https://stackoverflow.com/questions/2997767/how-do-i-keep-two-side-by-side-div-elements-the-same-height */

/* N A V I G A T I O N   B A R */
li, a {
  font-family: 'Roboto Mono', monospace;
  color: floralwhite;
}

header { /* menu */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #627668;
  margin: -20px;

  position: fixed;
  top: 0;
  width: 110%;
}

.logo {
  cursor: pointer;
}

.nav__links {
  list-style:  none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition:  all 0.3s ease 0s;
}

button { /* socials button */
  padding: 9px 25px;
  background-color: floralwhite;
  border-radius: 50px;
  cursor: pointer;
  transition:  all 0.3s ease 0s;
  font-size: 16px;
}

button:hover { 
  background-color: #627668;
}

.dropbtn { /** menu items **/
  background-color: rgb(91,111,100);
  color: floralwhite;
  padding: 8px;
  font-size: 16px;
  border: none;
  margin-left: 20px;
  margin-top: 5px;
  border-radius: 30px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: floralwhite;
  min-width: 160px;
  border-radius: 30px;
}

.dropdown-content a { 
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 20px;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #eeedd8;}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}


/** P I N T E R E S T    G R I D **/
.gallery {
  max-width: 100%;
  margin: auto;
  font-family: arial;
}
.gallery-item {
  break-inside: avoid;
  margin-bottom: 16px;
}
.gallery-item figure {
  margin: 0;
  position: relative;
}
.gallery-item figcaption {
  font-style: italic;
  padding: 8px;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  box-sizing: border-box;
  bottom: 3px;
  color: #fff;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 0 0 14px 14px;
}
.gallery-item img {
  width: 100%;
  border-radius: 14px;
}
.gallery-item p {
  margin: 0;
  padding: 8px;
}

@media screen and (max-width: 1100px) {
  .gallery {
    column-count: 1;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1500px) {
  .gallery {
    column-count: 2;
  }
}
@media screen and (min-width: 1500px) and (max-width: 1920px) {
  .gallery {
    column-count: 3;
  }
}



