* {
	padding: 0;
	margin: 0;
	font-family: "Roboto Mono";
	scroll-behavior: smooth;
}
:root {
	--white: #f2f2f2;
	--green: #A2C5AC;
	--blue: #AEDFF2;
	--pink: #D9A7CB;
	--purple: #9F84BD;
	--gray: #d1cfcb;
}
main {
	margin: 1em 5em;
	padding-bottom: 10em;
	min-height: 100vh;
}
/* Changing the highlight colors */
::selection {
    background-color: var(--white);
    color: var(--green);
}
h2 { /* other page titles */
	font-size: 15vh;
	margin-top: .5em;
}
h3 { /* subheadings for other pages */
	text-align: center;
	font-size: 3vh;
	margin-top: 2em;
	font-family: "ibm-plex-sans-condensed", sans-serif;
	font-weight: 700;
	font-style: normal;
}
h4 { /*other page descriptions */
	font-size: 2vh;
	padding: 1em 0;
	line-height: 1.8;
	width: 80%;
	font-weight: 400;
	font-style: normal;
}
p {
	font-size: 2vh;
	margin: 1em 0;
	width: 80%;
}
.list {
	font-size: 2vh;
}
.work {
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-rows: auto;
	margin: 3em 1em;
}

.work > div {
	font-size: 2vh;
	margin: 1em;
}
.workleft {
	font-size: 2vh;
	padding: 1em;
	text-align: right;
	margin-right: 3em;
}
a {
	text-decoration: none;	
	color: black; 
}
a:hover {
	opacity: .6;
	color: white;
	font-size: 2.5vh;
	transition: all .2s ease-in-out;
}
.underline {
	text-decoration: underline;
}


button {
	border-radius: 20px;
	background-image: url(./colors/greenbackground.png);
	padding: .3em 1em;
	margin: 1em;
	border: 3px solid var(--green);
	width: fit-content;
	float: right;
}

.fa-linkedin {
  color: black;
}

.fa-youtube {
  color: black;
}

.fa-instagram {
  color: black;
}


.number {
	font-family: "new-spirit", serif;
	font-weight: 550;
	font-size: 3vh;
}

.skill {
	font-family: "new-spirit", serif;
	font-weight: 400;
	font-size: 3vh;
}

.skilldes {
	font-size: 1.5vh; 
	display: flex;
  	align-items: center;
}

h1 { /* home page */
	font-size: 7vh;
	margin: 1em 0;
}
.bio {
	font-size: 7vh;
	text-decoration: none;
}
.bio:hover {
	opacity: .7;
	font-size: 7.5vh;
	transform: scale(1.1);
	transition: all .2s ease-in-out;
}
.roundedbox {
	border-radius: 20px;
	background-image: url(./colors/greenbackground.png);
	padding: .3em 1em;
	border: 3px solid black;
	width: fit-content;
	display: inline-block;
	position: absolute;
}
/* Even Grid */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  background-color: transparent;
}
.grid-container > div {
  background-color: transparent;
  margin: 1em;
}
.grid-container img {
	width: 90%;
	border-radius: 0;
	box-shadow: none;
	margin: .5em 0;
}
hr {
	border: 1px solid black;
}
footer {
	width: 100%;
	background-color: var(--green);
	text-align: center;	
	left: 0;
	bottom: 0;
	padding: 2em 0;
	position: relative;
}

footer i {
	font-size: .8em;
}

/* Project Cards */
.project {
	padding: 1em;
	align-items: center;
	border-radius: 30px;
}
.projectimage img {
	width: 100%;
}

.projecttext h6 {
	font-size: 3.5vh;
	text-align: left;
	margin: 0;
}

.projecttext p {
	font-size: 1.5vw;
	margin: 0; padding: 0;
	width: 100%;
}

.categories {
	border-width: 1px;
	border-radius: 6%;
	font-size: 1.3vh;
	border-style: solid;
	text-align: center;
	margin-top: 5px; 
	margin-right: 15px;
	padding: .5em;

	display: inline-block;
}
/*end of project cards */


/* RESPONSIVE FOR PHONE */
@media screen and (max-width: 900px) {
  main {
    margin: 1em;
  }
  h1 {
  	font-size: 3vh;
  }
  .title h1 {
		line-height: 6vh;
	}
	h2 {
		font-size: 8vh;
	}
	h4 {
		font-size: 1.5vh;
	}
  .bio {
  	font-size: 3vh;
  }
  .grid-container {
  	grid-template-columns: 1fr;
  }
  .project {
  	border-radius: 10px;
  }
  .projecttext p {
	font-size: 3vw;
	}
}
