* {
	padding: 0;
	margin: 0;
	font-family: "Roboto Mono";
	scroll-behavior: smooth;
}

:root {
	--white: #f2f2f2;
	--green: #A2C5AC;
	--blue: #AEDFF2;
	--pink: #D9A7CB;
	--purple: #9F84BD;
	--gray: #d1cfcb;
}


main {
	margin: 1em 5em;
	padding-bottom: 10em;
	min-height: 100vh;
}

h2 { /* other page titles */
	font-size: 15vh;
	margin-top: .5em;
}

h3 { /* subheadings for other pages */
	text-align: center;
	font-size: 3vh;
	margin-top: 2em;
}

h4 { /*other page descriptions */
	font-size: 2vh;
	padding: 1em 0;
	line-height: 1.8;
	width: 80%;
}

p {
	font-size: 2vh;
	margin: 1em 0;
	width: 80%;
}

.work {
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-rows: auto;
}

.work > div {
	font-size: 2vh;
	margin: 1em;
}

.workleft {
	font-size: 2vh;
	padding: 1em;
	text-align: right;
	margin-right: 3em;
}

a {
	font-size: 2vh;
	text-decoration: none;	
	color: black; 
}

a:hover {
	opacity: .6;
	color: white;
	font-size: 2.5vh;
	transition: all .2s ease-in-out;
}

button {
	border-radius: 20px;
	background-image: url(./colors/whitebackground.png);
	padding: .3em 1em;
	border: 3px solid black;
	width: fit-content;
	float: right;
}

.socials button {
	padding: .3em 1em;
	border: 2px solid black;
	background-image: url(./colors/greenbackground.png);
	float: center;
	margin: 2em;
	display: flex;
  	flex-wrap: wrap;
  	color: var(--white);
	align-items: center; justify-content: center;
	box-shadow: 5px 2px 2px gray;
}

.socials button:hover {
	padding: 1em;
	transition: all .2s ease-in-out;
}


h1 { /* home page */
	font-size: 7vh;
	margin: 1em 0;
}

.bio {
	font-size: 7vh;
	text-decoration: none;
}

.bio:hover {
	opacity: .7;
	font-size: 7.5vh;
	transform: scale(1.1);
	transition: all .2s ease-in-out;
}

.roundedbox {
	border-radius: 20px;
	background-image: url(./colors/greenbackground.png);
	padding: .3em 1em;
	border: 3px solid black;
	width: fit-content;
	display: inline-block;
	position: absolute;
}

/* Even Grid */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  background-color: transparent;
}

.grid-container > div {
  background-color: transparent;
  margin: 1em;
}

.grid-container img {
	width: 90%;
	border-radius: 0;
	box-shadow: none;
	margin: .5em 0;
}

footer {
	width: 100%;
	background-color: var(--green);
	text-align: center;	
	left: 0;
	bottom: 0;
	padding: .5em 0;
	position: relative;
}


/* responsive text for phone */
@media screen and (max-width: 1000px){
	h1 {
		font-size: 3vh;
	}

	.title h1 {
		line-height: 6vh;
	}
	h2 {
		font-size: 8vh;
	}
	h4 {
		font-size: 1.5vh;
	}
}

/* marketing creative */
.project {
	background-image: url("./colors/everything.png");
	padding: 1em;
	align-items: center;
	border-radius: 10px;
	box-shadow: 3px 3px #888888;
}

.projecthalf {
	align-items: center;
}

.projectimage img {
	width: 100%;
}

.projecttext {
	padding-left: 20px;
}

.projecttext h6 {
	font-size: 3vh;
	text-align: left;
	margin: 0;
}

.projecttext p {
	font-size: 1.5vh;
	margin: 0; padding: 0;
}

.categories {
	border-width: 1px;
	border-radius: 5px;
	font-size: 1.1vh;
	border-style: solid;
	text-align: center;
	margin: 0 10px;
	padding: .3em;
	line-height: 2.5em;
}

.project:hover {
	box-shadow: 5px 5px #888888;
}


/* RESPONSIVE FOR PHONE */
@media screen and (max-width: 1000px) {

  main {
    margin: 1em;
  }

  h1 {
  	font-size: 3vh;
  }

  .bio {
  	font-size: 3vh;
  }

  .grid-container {
  	grid-template-columns: 1fr;
  }

}
