* {  
  font-family: "Roboto Mono";
  scroll-behavior: smooth;
  text-decoration: none;
}

:root{
  --bg-color: #7E9278;
  --second-bg-color: #EEEDD8;
  --third-bg-color: #394e34;
}

body, html {
  height: 100%;
  color: #7E9278;
  line-height: 1.8;
  background-color: #eeedd8;
}

a {
  text-decoration: underline;
}

a:hover {
  opacity: .7;
}

.headlines {
  color: #394e34;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('https://media.giphy.com/media/C8bHItUZMqEp0NmRhS/giphy.gif');
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("https://media.giphy.com/media/C8bHItUZMqEp0NmRhS/giphy.gif");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("https://media.giphy.com/media/C8bHItUZMqEp0NmRhS/giphy.gif");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}