html {
	background: var(--fourth-bg-color);
	margin: 0px, 10px;
	font-family: "Roboto Mono";
	padding: 0;
}

:root{
  --bg-color: #7E9278;
  --second-bg-color: #EEEDD8;
  --third-bg-color: #394e34;
  --fourth-bg-color: #596855;
}


body {
	min-height: 100vh;
 	display: flex;
 	flex-direction: column;
 	margin: 0;
}

img {
	width: 100%;
}


.button {
	background-color: var(--bg-color);
	color: #eeedd8;
	padding: 10px;
	font-family: "Roboto Mono";
	margin: 20px;
}

a {
	color: #eeedd8;
}

/* FOOTER */
.footer {
  padding: 15px 15%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: var(--third-bg-color);
  font-size: 10px;
  color: var(--second-bg-color);
}
