html {
	background: var(--fourth-bg-color);
	margin: 0px, 10px;
	font-family: "Roboto Mono";
	padding: 0;
}

:root{
  --bg-color: #7E9278;
  --second-bg-color: #EEEDD8;
  --third-bg-color: #394e34;
  --fourth-bg-color: #596855;
}


body {
	min-height: 100vh;
 	display: flex;
 	flex-direction: column;
 	margin: 0;
}

img {
	width: 100%;
}


.button {
	background-color: var(--bg-color);
	color: #eeedd8;
	padding: 10px;
	font-family: "Roboto Mono";
	margin: 20px;
}

a {
	color: #eeedd8;
}

a:hover {
	opacity: .6;
}

footer {
	position: relative;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	background-color: var(--fourth-bg-color);
	text-align: center;
	font-size: 20px;
	padding: 10px;
}
